<html>
<head>
{% load static %}
{% csrf_token %}
 
    <title>Django 3.1.8 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static './bootstrap.css'  %}">
</head>
<body>
{% block title %}{{ section.title }} {% endblock %}
<span class="genindex-jumpbox"> Go to ->
    <a href="{% url 'notes27_jan_list' %}"> notes27_jan_list </a>  |
    <a href="{% url 'about' %}"> about </a>  |
    <a href="{% url 'notes27_jan_info' %}"> info</a>  |
    <a href="{% url 'admin:index' %}"> admin </a>  |   
    <a href="{% url 'django-admindocs-docroot' %}">admin_doc</a>  |
     <span>
{% block content %}{% endblock %}
</body>
</html>